/* Force body to be at least 100vh for footer purposes */
body {
    min-height:100vh;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Title */
.title-c{
    font-weight: 400; 
    font-family: 'Fjalla One', arial, sans-serif; 
    line-height: 1.45; 
    letter-spacing: 2px; 
    font-size: 3em;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 550px) {
    .title-c {
        font-size: 2em;
    }
}

/* Cover */
.cover{
    background-image: url("../img/castle.jpg");
    background-position: center;
}

/* Non selectable text */
.noselect{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Breathing icon */
.customicon{
    color:#8b8b9b;
}

.customicon:hover{
    color:#54516a;
}

/* unvisited link */
a:link {
    color: inherit;
}
  
/* visited link */
a:visited {
    color: inherit;
}

/* Gallery */
.row-c {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column-c {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

.full-column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.profile-img {
    /* margin-top: 8px; */
    vertical-align: middle;
    max-width: 100%; 
    border-radius: 50%; 
    border: 8px solid rgb(214, 214, 214);
    /* max-height: 250px; */
}

.column-c img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.full-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column-c {
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column-c {
        flex: 100%;
        max-width: 100%;
    }
}

#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

.content{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.box-shadow{
    box-shadow: 0px 3px 3px #969696;
    -webkit-box-shadow: 0px 3px 3px #969696;
}

.splash-btn{
    font-size: 3vh; 
    background-color: rgba(0, 0, 0, 0.25);
}

.splash-block{
    background-image: url("../assets/img/Archimonde_Banner.png"); 
    background-size: cover; 
    background-position: top center;  
    background-repeat: no-repeat;
    height: 92vh;
}

.contact-btn{
    font-weight: bold;
    font-size: 1.1em;
}
